#menu ul li{ display: inline; }

#menu ul li a{
    float: left;
    width: 82px;
    height: 78px;
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background: url('imagem.png') no-repeat scroll 0 0 transparent;
}

#menu ul li .home a{ background-position: 0px 0px; }
#menu ul li .agenda a{ background-position: -91px 0px; }
#menu ul li .contato a{ background-position: -181px 0px; }

#menu ul li.home a:hover{ background-position: 0px -78px; }
#menu ul li.agenda a:hover{ background-position: -91px -78px; }
#menu ul li.contato a:hover{ background-position: -181px -78px; }